* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
}

html {
	font-family: sans-serif;
	font-size: 100%;
}

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
}

/*
=============== 
Slider Styles
===============
*/

.table {
	border: 1px solid black;
}

.hours {
	background: red;
}

td{
	border: 1px solid black;
}
